body {
  background-color: white;
  color: black;

  font-family: serif;
  font-size: 1em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h1.center {
  text-align: center;
}

code.gray {
  background-color: rgb(230, 230, 230);
  padding: 0.5em;
}

p {
  font-family: arial, sans-serif;
  text-align: justify;
}

p.module {
  text-align: left;
}

.atomic {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  page-break-inside: avoid;
}

ol {
  font-family: arial, sans-serif;
}

blockquote {
  background: rgb(238, 238, 238);
  display: block;
  margin: 1em 2.5em;
  padding: 1em;
}

#columnContainer {
  column-width: 30em;
  -webkit-column-width: 30em;
  -moz-column-width: 30em;
  padding-top: 0.25em;
}

div.module {
  vertical-align: top;

  margin-top: 0%;
  margin-bottom: 5%;
}

table {
  margin: 0 auto;
}

table.first {
  width: 100%;
}

table.title {
  background-color: navajowhite;
  width: 100%;
}

table.module {
  background-color: navajowhite;
  width: 100%;
}

td.heading1 {
  vertical-align: middle;
  width: 25%;
}

td.heading2 {
  vertical-align: middle;
  width: 30%;
}

td.heading3 {
  vertical-align: middle;
  width: 42%;
}

img {
  padding: 1px;
  margin: 12px 0px 0px;
}

ul#contact {
  list-style-type: none;
}

iframe {
  text-align: center;
}

.youtube-container {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
}

.youtube-player {
  display: block;
  width: 100%; /* assuming that the video has a 16:9 ratio */
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: hand;
  cursor: pointer;
  display: block;
}

img.youtube-thumb {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
}

div.play-button {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("http://i.imgur.com/TxzC70f.png") no-repeat;
}

#youtube-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
