blockquote {
  background: rgb(238, 238, 238);

  /* border color is 90% of background color */
  border-style: solid;
  border-width: 0.05em;
  border-color: rgb(214, 214, 214);

  margin: 1em 2.5em;
  padding: 1em;

  display: block;
}

body {
  background-color: #f7f7f7;
  color: #444;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0 auto;
  max-width: 100%;
}

code {
  background: rgb(238, 238, 238);

  /* border color is 90% of background color */
  border-style: solid;
  border-width: 0.05em;
  border-color: rgb(214, 214, 214);

  white-space: nowrap;
}

div.body {
  margin: 2em auto;
  max-width: 38.75em;
  padding: 1em;
}

figure figcaption {
  font-size: 0.7em;
  line-height: 1.3em;
}

h1 {
  text-align: center;
}

h3 {
  font-style: italic;
}

pre {
  background: rgb(238, 238, 238);

  /* border color is 90% of background color */
  border-style: solid;
  border-width: 0.05em;
  border-color: rgb(214, 214, 214);

  margin: 0.5em;
  padding: 0.2em;

  overflow: scroll;
}

#navbar {
  width: 100%;
  background-color: darkblue;
  overflow: auto;
  margin: auto;
  position: fixed;
  top: 0;
}

#navbar a {
  float: left;
  padding: 0.4em 0.8em 0.4em 0.8em;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

#navbar li {
  list-style: none;
}

#navbar a:hover {
  color: lightblue;
}

#navbar ul li a.active {
  color: lightslategray;
}

@media screen and (max-width: 44em) {
  .navbar a {
    float: none;
    display: block;
  }
}

:target::before {
  content: "";
  display: block;
  height: 2.8em; /* fixed header height */
  margin: -2.8em 0 0; /* negative fixed header height */
}
