@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.sidenav {
  height: 100%;
  width: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(3, 44, 124);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3rem;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #c4cacc;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #ffffff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.Media_Wrapper img {
  max-height: 5rem;
}

body,
html{
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

img {
  max-height: 15rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  position: relative;
  right: 15rem;
}

h2{
  padding-top: 2rem;
  font-size: 3rem;
}

p{
  font-size: 1.5rem;
  line-height: 2rem;
}

li {
  font-size: 1.25rem;
  line-height: 2rem;
}

.top {
  background: linear-gradient(175deg,  rgb(5, 0, 75) 49%, rgb(0, 0, 104) 50%);
  padding-left: 7rem;
  height: 25rem;
  width: calc(inherit - 10rem);
  position: relative;
  left: 10rem;
  bottom: 10rem;
}

.bottom img {
  position: relative;
  bottom: 5rem;
  left: 7rem;
}

.bottom h1 {
  color: rgb(255, 255, 255);
  margin: auto;
  position: relative;
  bottom: 15rem;
  left: 5rem;
  font-size: 5rem;
  
}

.bottom {
  background: linear-gradient(175deg, rgb(0, 0, 104) 47%,  white 48%);
  height: 20rem;
  width: calc(inherit - 10rem);
  position: relative;
  left: 10rem;
  bottom: 15rem;
}

.Info_Wrapper {
  display: grid;
  grid-template-columns: 75ch 75ch;
  gap: 2rem;
  grid-template-rows: 35rem 30rem 30rem;
  position: relative;
  left: 15rem;
  bottom: 20rem;
}

.Info_Main {
  max-width: 85ch;
  margin-left: 1rem;
}

#Lone {
  grid-column: 1 / 3;
  position: relative;
  bottom: 20%;
  right:15%;
  margin: 1rem auto;
}

 #Img_main{
  min-height: 30rem;
  min-width: 50ch;
  position: relative;

  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);

  border-style: double;
  border-color: darkblue;
  border-width: 1rem;
  
}

.Links_Wrapper {
  width: 50%;
  margin: 0 auto;
  position: relative;
  bottom: 5rem;

  display: grid;
  grid: 25ch 25ch;
  gap: 5rem;
}

.Links {
  border-style: outset;
  border-color: rgb(5, 0, 75);
  border-width: 1rem;
  margin-bottom: 5rem;
  height: 15rem;
  width: 20rem;
  padding: 1rem;
}

.Links a {
  text-align: center;
  font-size: 2rem;
}

.Links_Wrapper #Lone {
  width: 35rem;
  position: relative;
  left: 0%;
  margin-bottom: 0;
}

.Footer {
  background-color: rgb(3, 44, 124);
  height: 5rem;
  width: calc(100% - 10rem);
  position: relative;
  left: 10rem;
  text-align: center;
  color: #c4cacc;
}