body {
    width: 75%;
    margin: 2% auto;

    background-color: white;

    font-family: arial,sans-serif;
    font-size: 1em;
    text-align: justify;
    color: rgb(0,0,0);
}

h1 {
    font-size: 2.75em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1em;
}

div.key {
    border-style: groove;
    border-width: 10px;
    border-color: orange;
    padding-top: 15px;
    text-align: center;
    font-size: 1.2em;
}

ol {
    line-height: 40px;
}

ul {
    line-height: 40px;
}