body {
  background-color: white;
  color: black;

  font-family: serif;
  font-size: 1em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h1.center {
  text-align: center;
}

p {
  font-family: arial, sans-serif;
  text-align: justify;
}

p.module {
  text-align: left;
}

ol {
  font-family: arial, sans-serif;
}

blockquote {
  background: rgb(238, 238, 238);
  display: block;
  margin: 1em 2.5em;
  padding: 1em;
}

div.center {
  margin: 0 auto;
}

div.module {
  margin-top: 0%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}

table {
  margin: 0 auto;
}

table.first {
  width: 100%;
}

table.second {
  width: 90%;
}

table.title {
  background-color: navajowhite;
  width: 100%;
}

table.module {
  background-color: navajowhite;
  width: 100%;
}

td.heading1 {
  vertical-align: middle;
  width: 25%;
}

td.heading2 {
  vertical-align: middle;
  width: 30%;
}

td.heading3 {
  vertical-align: middle;
  width: 42%;
}

td.research {
  vertical-align: top;
  width: 50%;
}

td.module {
  vertical-align: top;
  width: 50%;
}

img {
  padding: 1px;
  margin: 12px 0px 0px;
}

ul#contact {
  list-style-type: none;
}

